<% @users.each do |user| %>

  <h1>Nome: </h1>
  <p><%= user.name %></p>
  <h1>CPF: </h1>
  <p><%= user.cpf%></p>
  <h1>Data de Nascimento:  </h1>
  <p><%= user.dn %></p>
  <h1>Email: </h1>
  <p><%= user.email %></p>
  <h1>Matricula: </h1>
  <p><%= user.matricula %></p>

<%end%>