<% @users.each do |user| %>
  <div>
    <p class="titulao">Nome: </p>
    <p class="default"><%= user.name %></p>
  </div>
  <div>
    <p class="titulao">CPF: </p>
    <p class="default"><%= user.cpf%></p>
  </div>
  <div>
    <p class="titulao">Data de Nascimento:  </p>
    <p class="default"><%= user.dn %></p>
  </div>
  <div>
    <p class="titulao">Email: </p>
    <p class="default"><%= user.email %></p>
  </div>
  <div>
    <p class="titulao">Matricula: </p>
    <p class="default"><%= user.matricula %></p>
  </div>
  <%= link_to "Editar", edit_user_path(user), class:'btn btn-success'%>

<%end%>